@import "/src/styles/variables/common";

.input {
  display: inline-block;
  box-sizing: border-box;
  height: 43px;
  width: 100%;
  padding: 14.5px 50px 15px 20px;
  border-radius: 5px;
  border: solid 0.8px #dddddd;
  background: url("./search.png") no-repeat center right 20px;
  background-color: #f5f5f5;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-family: $font-primary;
  font-size: 13.3px;
  letter-spacing: normal;
  text-align: left;
  color: $color-dark;

  transition: background-color 0.15s ease-in;

  &::placeholder {
    color: #999999;
  }

  &:focus {
      background-color: rgba(#f5f5f5, 0.75);
  }
}