$font-primary: Inter, sans-serif;
$font-secondary: Helvetica Neue, sans-serif;

$bg-dark: #271d25;
$bg-light: #f8f9fb;
$bg-white: #ffffff;

$color-light: #ffffff;
$color-lighter: rgba(255, 255, 255, 0.5);
$color-medium: #858585;
$color-grey: #999999;
$color-dark: #333333;
$color-darker: #2c2c36;
$color-green: #40cd92;

// transition
$transition-hover: all 0.15s ease-in;
$transition-hover-color: color 0.15s ease-in;
$transition-hover-opacity: opacity 0.15s ease-in;